body {
  background-color: var(--primary);
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #015c92;
  --secondary: #2d8285;
  --tertiary: #fb6602;
  --quaternary: #88cdf6;
  --quinary: #bce6ff;

  --white: #fff;
  --gray: #8a8c90;

  --black: #000;
}
